body{
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


.bg-negro{
    background-color: black;
    
}



nav img{
    height: 50px;
}




.barraNavegacion{
    
   position: absolute;
   z-index: 999;
   left: 10%;
   top: 40%;

}


.carrusel {
    
    top: -1.25rem;
    
    
}

.linea1{

  width: 95%;
  margin-left: 3%;
  border-top: 1px solid #23bac4;
  
}

.col-md-4 i {

    color: white;
}

.card{
    border: 0;
    
}

.card img{
    height: 140px;
    width: 100%;
  
}

.linea2{

    width: 95%;
    margin-left: 3%;
    border-top: 1px solid #23bac4;
}

.linea3{

    width: 95%;
    margin-left: 3%;
    border-top: 1px solid #23bac4;
}



footer i {

    color: white;
}

footer img{
    height: 30px;
    float: left;
   
    
}

.iconos{

    margin-left: -6%;
   
}

.popover {
    background: #bac423;
}




@media (max-width: 800px){

    nav img{
        height: 35px;
    }

    .barraNavegacion{ 

        left: 0%;
           
    }

    footer img{
        height: 15px;
        margin-top: 5%;
        margin-left: -70%;
        margin-bottom: 2%;
        
        
       
    }

    .iconos{

        margin-left: 20%;
       
    }
}

