body{
    color: white;
    background-color: black;
}


.bg-negro{
    background-color: black;
    
}



nav img{
    height: 50px;
}




.barraNavegacion{
    
   position: absolute;
   z-index: 999;
   left: 10%;
   top: 40%;

}



.carrusel {
    
    top: -1.25rem;
    
    
}


/*.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}*/


.linea1{

  width: 95%;
  margin-left: 3%;
  border-top: 1px solid #23bac4;
  
}

.col-md-4 i {

    color: white;
}

.card{
    border: 0;
    
}

.card img{
    height: 140px;
    width: 100%;
  
}

.linea2{

    width: 95%;
    margin-left: 3%;
    border-top: 1px solid #23bac4;
}

.linea3{

    width: 95%;
    margin-left: 3%;
    border-top: 1px solid #23bac4;
}









footer i {

    color: white;
}

footer img{
    height: 30px;
    float: left;
    
}

.iconos{

    margin-left: -6%;
   
}



@media (max-width: 800px){

    nav img{
        height: 35px;
    }

    .barraNavegacion{ 

        left: 0%;
           
    }

    footer img{
        height: 25px;
        margin-top: 1%;
        margin-left: -17%;
        margin-bottom: 2%;
        
        
       
    }

    .iconos{

        margin-left: 7%;
       
    }
}
